<img SRC="img01.png" />
<center><h1 Style="color:#1E90FF">Analisis de Datos</h1></center>
<center><h5>Universidad Castro Carazo</h5></center>
<center><h6>2-Cuatrimestre 2022</h6></center>
</br>
<p Style="text-align: justify; color: #E9967A" Style>Este notebook contiene el analisis de los datos de los vehiculos a la venta por parte de la empresa Pk2, esta empresa 
se encuentra interesada en responder una pregunta de negocio particular.
Como se puede incrementar las ventas de autos de segunda mano?
Para esto se realiza un analisis de conjunto de datos facilitado por la empresa a efectos de poder brindar conocimiento 
sobrelas distribuciones de sus lotes de venta, los autos con mayor precio, o caracteristicas de los autos, 
esto para dotar de insumos suficientes a la toma de decisiones.</p>
</br>
<a href="https://archive.ics.uci.edu/ml/datasets/Automobile">Fuente de Datos para el analisis</a>

<h2 Style= "color: #FF4500">1. Carga y estandarizacion de los set de datos</h2>
<p>Que se hace en esta etapa?</p>
<ol>
    <li>Importar las librerias necesarias.</li>
    <li>Importar el o los set de datos</li>
    <li>Revisar los encabezados de los Dataframes</li>
    <li>Si y solo Si tenemos mas de 2 set de datos - Unir los set de datos en un unico Dataframe</li>
</ol>
<h3 Style="color:#6B8E23">1.1 Importar las librerias</h3>

In [1]:
import pandas as pd             #se usa para el manejo de DataFrames
import numpy as np              #se usa para manejar las estructuras de datos (listas, duplas, arrays, diccionarios)
import matplotlib.pyplot as ptl #se usa para el manejo de graficos

<h3 Style="color:#6B8E23">1.2 Importar el set de datos</h3>

In [2]:
cols = ["symboling", "normalized", "make", "fuel", "aspiration", "doors",
"style", "wheels", "engine", "base", "length", "width", "heingt",
"curb", "engineType", "Cylinders", "engine-size", "system", "bore", "stroke",
"compression", "horsepower", "peak", "City", "Higway", "price"]

df_1er_autos = pd.read_csv("autos.csv", names = cols) #Aca se le indica al Dataframe que tome los datos dentro de "cols"
                                                  #y los use como headers
df_2do_autos = pd.read_csv("Autos 1.csv", names = cols)

In [3]:
df_1er_autos.shape #Permite conocer el tama√±o del Dataframe.

(197, 26)

In [4]:
df_2do_autos.shape

(29, 26)

In [5]:
df_1er_autos.head(10) #Para poder visualizar las primeras 10 observaciones

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [6]:
df_1er_autos.tail(10) #Para poder visualizar las ultimas 10 observaciones

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
187,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495
188,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.40,10.0,100,5500,26,32,9995
189,3,?,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,11595
190,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980
191,0,?,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,136,mpfi,3.19,3.40,8.5,110,5500,19,24,13295
192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
193,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.40,9.0,88,5500,25,31,12290
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985

In [7]:
df_1er_autos.describe() #Da una serie de estadisticas del set de datos (conteo,media,desv std,min,cuartiles,max) 
                        #para aquellos datos que sean numericos

,symboling,base,length,width,heingt,curb,engine-size,compression,City,Higway
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,0.913706,98.409645,173.450254,65.812690,53.628934,2534.796954,126.263959,10.128020,25.416244,30.984772
std,1.202746,5.866965,12.213912,2.128306,2.438891,520.401159,42.282594,3.934467,6.566717,6.908644
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.000000,52.000000,2140.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,96.500000,172.600000,65.400000,53.900000,2405.000000,110.000000,9.000000,25.000000,30.000000
75%,2.000000,100.400000,178.500000,66.500000,55.500000,2844.000000,141.000000,9.400000,30.000000,36.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

<h3 Style="color:#6B8E23">1.3 Revisar encabezados de los set de datos</h3>

In [12]:
df_1er_autos.columns #Para revisar el orden de las columnas

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'engine-size', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

In [13]:
df_2do_autos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'engine-size', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

In [8]:
df_1er_autos.info() #Da informacion sobre los tipos de datos , los que se describen como obect son caracteres

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    197 non-null    int64
 1   normalized   197 non-null    object
 2   make         197 non-null    object
 3   fuel         197 non-null    object
 4   aspiration   197 non-null    object
 5   doors        197 non-null    object
 6   style        197 non-null    object
 7   wheels       197 non-null    object
 8   engine       197 non-null    object
 9   base         197 non-null    float64
 10  length       197 non-null    float64
 11  width        197 non-null    float64
 12  heingt       197 non-null    float64
 13  curb         197 non-null    int64
 14  engineType   197 non-null    object
 15  Cylinders    197 non-null    object
 16  engine-size  197 non-null    int64
 17  system       197 non-null    object
 18  bore         197 non-null    object
 19  stroke       197 non-null    object
 20  compression  197 non-null    float64
 21  horsepower   197 non-null    object
 22  peak         197 non-null    object
 23  City         197 non-null    int64
 24  Higway       197 non-null    int64
 25  price        197 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 40.1+ KB

<h3 Style="color:#6B8E23">1.4 Unir archivos en un solo DataFrame</h3>

In [14]:
unionArchivos = [df_1er_autos, df_2do_autos] #Esto es una lista de DataFrames
dfAutos = pd.concat(unionArchivos)
dfAutos.shape #Para obtener el dimensionamiento numero de registros/numero columnas

(226, 26)

In [16]:
dfAutos.head(3) #Mostrar las primeras tres rows con todas las columnas

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500

In [17]:
dfAutos.iloc[:, 0:2] #Agarrar todas las rows de las columnas 0 y 1 (no incluye la columna 2 porque el comando es exclusivo)

    symboling normalized
0           3          ?
1           3          ?
2           1          ?
3           2        164
4           2        164
..        ...        ...
24          0          ?
25          0          ?
26         -2        103
27         -1         74
28         -2        103

[226 rows x 2 columns]

In [22]:
dftem = dfAutos.iloc[:, 0:2] #Pasar a dftem todas las rows de las columnas 0 y 1 de dfAutos

In [26]:
dftem.head(6) #Mostrar las primeras 6 rows con todas las columnas de dftem

   symboling normalized
0          3          ?
1          3          ?
2          1          ?
3          2        164
4          2        164
5          2          ?

In [27]:
dftem #Para mostrar todas las rows/columnas, si son muchas rows va a mostrar las primeras y ultimas rows del dataFrame

    symboling normalized
0           3          ?
1           3          ?
2           1          ?
3           2        164
4           2        164
..        ...        ...
24          0          ?
25          0          ?
26         -2        103
27         -1         74
28         -2        103

[226 rows x 2 columns]

In [28]:
dftemp = dfAutos.iloc[[0,3,6,24],[0,5,6]] #Para escoger rows y columnas especificas

In [29]:
dftemp

    symboling doors        style
0           3   two  convertible
3           2  four        sedan
6           1  four        sedan
24          1  four    hatchback

In [32]:
df_Autos = dfAutos #Esto es una copia de seguridad del DataFRame original

In [33]:
df_Autos.shape

(226, 26)

<h2 Style= "color: #FF4500">2. Manejo de valores faltantes</h2>
<p>Que se hace en esta etapa?</p>
<ol>
    <li>Identificar como se muestran los valores faltantes (null, espacio vacio, ?) y estandarizarlos (NaN)</li>
    <li>Contar la cantidad de valores NaN faltantes por variable (columna)</li>
    <li>Analisis de imputacion (el promedio / ML) para el caso de los numericos</li>
    <li>Analisis de imputacion (con el valor mas frecuente de la columna / ML) para el caso de los caracteres</li>
    <li>Eliminar filas o columnas con valores faltantes</li>
</ol>
<h3 Style="color:#6B8E23">2.1 Identificar como se muestran los valores faltantes y estandarizarlos</h3>

In [34]:
df_Autos.head(15) #Identificar los valores faltantes, en este caso son los "?"

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565

In [35]:
df_Autos.replace("?", np.nan, inplace = True) #Esto es estandarizar (buscar, identificar, remplazar por NaN)
df_Autos.head(10)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN

<h3 Style="color:#6B8E23">2.2 Contar valores faltantes por columna</h3>

In [38]:
valoresPerdidos = df_Autos.isnull() #Va a identificar los valores NaN y los va a guardar en el DataFrame valoresPerdidos

In [39]:
valoresPerdidos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [42]:
for column in valoresPerdidos.columns.values.tolist(): #Convertir cada columna a una lista
    print (column) #Imprime el nombre de la columna
    print (valoresPerdidos[column].value_counts()) #Imprime el conteo de falsos/verdaderos de cada columna
    print ("") #Imprime un Enter

symboling
False    226
Name: symboling, dtype: int64

normalized
False    180
True      46
Name: normalized, dtype: int64

make
False    226
Name: make, dtype: int64

fuel
False    226
Name: fuel, dtype: int64

aspiration
False    226
Name: aspiration, dtype: int64

doors
False    224
True       2
Name: doors, dtype: int64

style
False    226
Name: style, dtype: int64

wheels
False    226
Name: wheels, dtype: int64

engine
False    226
Name: engine, dtype: int64

base
False    226
Name: base, dtype: int64

length
False    226
Name: length, dtype: int64

width
False    226
Name: width, dtype: int64

heingt
False    226
Name: heingt, dtype: int64

curb
False    226
Name: curb, dtype: int64

engineType
False    226
Name: engineType, dtype: int64

Cylinders
False    226
Name: Cylinders, dtype: int64

engine-size
False    226
Name: engine-size, dtype: int64

system
False    226
Name: system, dtype: int64

bore
False    222
True       4
Name: bore, dtype: int64

stroke
False    222
True       4
Name: stroke, dtype: int64

compression
False    226
Name: compression, dtype: int64

horsepower
False    224
True       2
Name: horsepower, dtype: int64

peak
False    224
True       2
Name: peak, dtype: int64

City
False    226
Name: City, dtype: int64

Higway
False    226
Name: Higway, dtype: int64

price
False    222
True       4
Name: price, dtype: int64

<h3 Style="color:#6B8E23">2.3 Imputar Datos Numericos</h3>

In [44]:
avg_normalized = df_Autos["normalized"].astype("float").mean(axis=0) #Vamos a trabajar la columna NORMALIZED, se le dice axis=0 para agarrar la columna completa, si se pone axis=1 agarra la fila completa
print ("La media del normalized: ", avg_normalized)

La media del normalized:  122.28333333333333

In [45]:
df_Autos["normalized"].replace(np.nan, 122, inplace = True) #Remplazar todos los valores faltantes por la media
df_Autos.head(3)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500